body{
    margin: 0 10%;
}

.sections{
    border: 1px solid black;
    padding-left: 2%;
    padding-right: 2%;
    margin: 10px auto;
}

.color-container{
    display:block;
    width: 100%;
    padding-bottom: 10px;
}

.rectangle{
    display: inline-block;
    min-height: 100px;
    width: 32%;
    height: 50%;
    margin: 20px auto;
    text-align: center;
}


.blue{
    background-color: #005F73;
}

.red{
    background-color: #AE2012;
}

.green{
    background-color: #7bf1a8;
}

.aqua{
    background-color: #00ffff;
}

.purple{
    background-color: #9d4edd;
}

.font-container{
    display: block;
}

.font-box{
    display: inline-block;
    width: 35%;
    min-height: 200px;
}

.font-lable{
    text-decoration: underline;
    font-size: 30px;
}

.platypi{
    font-family: 'Platypi';
}

.poppins{
    font-family: 'Poppins';
}

.crimson-text{
    font-family: 'Crimson Text';
}

.regular{
    font-style: normal;
}

.italics{
    font-style: italic;
}

.bold{
    font-weight: 700;
}