.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-size{
    height: 25%;
    width: 50%;
    display: block;
}

.title{
    font-size: 100px;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
}

.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;
    border: thick solid;
}

.header-item-1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.header-item-1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}