.image{
    height: 100%;
    width: 100%;
    object-fit: fit;
}

.image-size{
    height: 25%;
    width: 50%;
    display: block;
}

.title{
    font-size: 70px;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 75% 25%;
}

.header-item-1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.header-item-2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    /* border: thick solid; */
    justify-self: center;
    /* justify-items: center; */
}

.item{
    /* border: thick solid; */
    width: auto;
    display: inline-block;
    justify-items: center;
}